*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/artisan
/composer.json
/composer.lock
/package.json
/package-lock.json
/laravel.log
/laravel-error.log
/laravel-debug.log
/laravel-*.log
/laravel-*.log.*
/laravel-*.log.*.gz
/laravel-*.log.*.zipl
/laravel_migration
